@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Apagar conta e dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<style>
    .btn-dangerx {
        background-color: #e62517;
        color: white;
        border-color: #e62517;
        margin-top: 15px;
    }

     .btn-dangerx:hover {
         background-color: #e62517;
         color_: white;
         border-color: #e62517;
     }

     .btn-dangerx:active,
     .btn-dangerx:focus {
          background-color: #e62517;
          color: white;
          border-color: #e62517;
     }
     .btn-danger {
        background-color: #e62517;
        color: white;
        border-color: #e62517;
    }

     .btn-danger:hover {
         background-color: #e62517;
         color_: white;
         border-color: #e62517;
     }

     .btn-danger:active,
     .btn-danger:focus {
          background-color: #e62517;
          color: white;
          border-color: #e62517;
     }
    .btn-secondary {
            background-color: white;
            color: #6610F2;
            border-color: #6610F2;
      }

      .btn-secondary:hover {
            background-color: white;
            color: #6610F2;
            border-color: #6610F2;
      }

      .btn-secondary:active,
      .btn-secondary:focus {
            background-color: white;
            color: #6610F2;
            border-color: #6610F2;
      }

      .custom-close {
          background-color: #6610F2;
          color: white;
      }

      .modal-footer button {
          margin-right: 15px;
      }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 style="color: #6610F2;">@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="col-md-8">
          <div class="alert alert-warning" role="alert">
             <p>
        <strong>Atenção, ao apagar a sua conta, os dados serão permanentemente removidos e não poderá recuperar a sua conta.</strong>
             </p>
          </div>
    </div>
    <div class="col-md-8">
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" style="width: 100%;" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
        }
            <button id="delete-account-btn" class="btn btn-dangerx" data-toggle="modal" data-target="#deleteModal">Apagar conta</button>
    </form>
    </div>
</div>

<!-- Add the following code to your page -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete-label">Confirmar exclusão</h5>
                <button type="button" class="close custom-close rounded btn btn-primary" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que deseja apagar a sua conta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel-delete">Cancelar</button>
                <button type="button" class="btn btn-danger" id="delete-account-btn-modal">Apagar conta</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#delete-account-btn-modal').on('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the value of the password input
            var password = $('#Input_Password').val();

            // Check if the password is empty
            if (password === '') {
                // Display the error message
                $('.text-danger').text('Por favor, introduza a sua palavra-passe.');
            } else {
                // Submit the form
                $('#delete-user').submit();
            }
        });

        $('#delete-account-btn').on('click', function (event) {
            event.preventDefault(); // Prevent the default form submission
            $('#confirm-delete').modal('show'); // Show the modal dialog
        });

        $('#close-modal').on('click', function (event) {
            event.preventDefault(); // Prevent the default behavior
            $('#confirm-delete').modal('hide'); // Hide the modal dialog
        });
        $('#cancel-delete').on('click', function (event) {
            event.preventDefault(); // Prevent the default behavior
            $('#confirm-delete').modal('hide'); // Hide the modal dialog
        });
    });
</script>



