@page
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["delete_account"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div>
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 w-100">
            <h3 style="color: #6610F2;">@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-md-6 w-100">
            <p>@Localizer["your_account_has_personal_data"]</p>
            <p>
                <strong>@Localizer["when_deleting_account_cannot_be_recovered"]</strong>
            </p>
            <p style="margin-top: 35px;">
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger text-white bg-danger">@Localizer["delete_account"]</a>
            </p>
        </div>
    </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
