@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["confirm_your_email"];
}

<h1 style="margin-top: 125px; color: #6610F2;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
