@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p style="margin-top: 75px">
    @Localizer["please_check_email"]
</p>
