@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p style="margin-top: 75px">
    Por favor, verifique o seu mail para reiniciar a palavra-passe.
</p>
