@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p style="margin-top: 75px">
    A tua palavra-passe foi reiniciada. Por favor, <a asp-page="./Login">clique aqui para fazer login</a>.
</p>
