@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p style="margin-top: 75px">
    @Localizer["your_password_was_reset_please"] <a asp-page="./Login">@Localizer["click_here_to_login"]</a>.
</p>
