@{
	ViewData["Title"] = "Proibido - Banido";
}


<h1 style="margin-top: 100px; color: red; font-weight: bold;">@ViewData["Title"]</h1>

<div class="container">
	<div class="row justify-content-center mt-3">
		<div class="alert alert-danger" role="alert">
			<img src="https://i.imgur.com/cSSEWnn.png" alt="Warning Sign">
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<p style="font-weight: bold;">
			Não podes fazer login com a tua conta porque foste banido. <br>
			Tempo restante: 2 meses, 1 semana e 3 dias. <br>
			Razão: Ataques verbais a outro utilizador.
		</p>
	</div>
</div>
