<div class="container">
    <div class="row">
        <!-- Top image with texts -->
        <div class="col-12 position-relative">
            <a href="#" style="pointer-events: none;">
                <img src="https://i.ibb.co/30r2VC4/288-2884863-black-acoustic-guitar-id-guitar-black-and-white.jpg" alt="Tidbeat Logo" class="img-fluid shadow-lg" style="filter: brightness(50%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));">
            </a>
            <div class="position-absolute w-100 text-center" style="top: 50%; transform: translateY(-50%);">
                <div class="d-flex justify-content-center">
                    <div class="mx-1 text-left">
                        <span class="text-white font-weight-bold" style="font-size: 32px;">Bem-vindo ao Tidbeat.<br> A rede social feita para os fãs de música.</span>
                    </div>
                    <div class="mx-7 text-right">
                        <span class="text-white font-weight-bold" style="font-size: 24px;">Registe-se já para se juntar à comunidade</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Why use Tidbeat? - title -->
        <div class="col-md-12 pt-5">
            <h2 class="text-center" style="font-size: 24px; font-weight: bold;">Porque usar o Tidbeat?</h2>
        </div>

        <!-- Three boxes with information text -->
        <div class="col-md-4 pt-5">
            <div class="card">
                <div class="card-body" style="border: 1.5px solid black;">
                    <h4 class="card-title" style="color: black; font-weight: bold;">1</h4>
                    <p class="card-text" style="color: #6610F2; font-weight: bold;">Acesso a milhares<br /> de músicas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-5">
            <div class="card">
                <div class="card-body" style="border: 1.5px solid black;">
                    <h4 class="card-title" style="color: black; font-weight: bold;">2</h4>
                    <p class="card-text" style="color: #6610F2; font-weight: bold;">Troque ideias sobre<br /> as suas músicas favoritas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-5">
            <div class="card">
                <div class="card-body" style="border: 1.5px solid black;">
                    <h4 class="card-title" style="color: black; font-weight: bold;">3</h4>
                    <p class="card-text" style="color: #6610F2; font-weight: bold;">Comunidade com milhares<br /> de utilizadores</p>
                </div>
            </div>
        </div>
    </div>
</div>
