@{
}

<div class="temporary-below-navbar mt-1 ms-3">
    <div class="d-flex flex-row">
        <img class="me-2" src="~/images/PlayButton.png"/>
        <div>
            <div class="fw-bold">Jean Pardieu</div>
            <div class="d-flex ">
                <div><span class="text-primary">Música: </span>Makeba <span class="text-primary">de </span> Jain</div>
                <div class="ms-1 me-1">|</div>
                <div><span class="text-primary">Excerto: de </span>0:45 <span class="text-primary">a </span> 1:10 </div>
            </div>
        </div>
    </div>
    <div class="fw-bold">
        A minha opinião sobre este excerto de Makeba:
    </div>
    <div class="mt-2">
        Este excerto fez-me lembrar aquela altura em que fui a um festival de música e perdi-me no meio
        da multidão de tão hipnotizado...!
    </div>
    <div class="mt-4">
        <div>Comentários:</div>
        <div>
            <div class="border border-primary d-flex flex-row align-items-center rounded-3 ms-5">
                <div class="border-end ms-3 pe-2 me-2 text-end">
                    <div class="fw-bold">Jan Magnussen</div>
                    <div class="text-primary">Utilizador</div>
                </div>
                <div>Tens toda a razão. Isso aconteceu-me aqui na Dinamarca!</div>
            </div>
        </div>
    </div>
</div>