@{
	ViewData["Title"] = "Proibido - Banido";
}


<h1 style="margin-top: 100px; color: red; font-weight: bold;">@ViewData["Title"]</h1>

<div class="container">
	<div class="row justify-content-center mt-3">
		<div class="alert alert-danger" role="alert">
			<img src="https://i.imgur.com/cSSEWnn.png" alt="Warning Sign">
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<p style="font-weight: bold;">
			Não podes entrar nesta página ou fazer esta ação porque não tens privilégios para tal.
		</p>
	</div>
</div>
