@model SpotifyAPI.Web.FullArtist

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-5 pt-5">Details</h1>

<div>
    <h4>Artista/Banda: @Model.Name</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            <img src="@Model.Images[0].Url" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
