@model SpotifyAPI.Web.FullArtist

@{
    ViewData["Title"] = "Details";
    var imageUrl = Model.Images[0].Url;
}

<div>
    <h4 class="mt-5 pt-5">Artista/Banda: @Model.Name</h4>
    <img src="@imageUrl" height="300"/>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
