@model IEnumerable<Tidbeat.Models.Conversation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5 pt-5">Index</h1>

<div class="d-flex flex-column align-items-center">
    @foreach (Tuple<Conversation, List<string>> item in ViewBag.ConversationsParticipantsPairs) {
    <a class="btn btn-outline-primary mb-2" asp-action="Details" asp-route-id="@item.Item1.Id">
        @foreach(string participant in item.Item2) {
            <div class="ms-2">
                @participant;
            </div>
        }
    </a>
}
</div>