@model IEnumerable<Tidbeat.Models.Conversation>

@{
    ViewData["Title"] = "Index";
}

<style>
      .bordered-div {
        border: 1.75px solid black;
        border-radius: 5px;
        background-color: #fafafa;
    }


    .btn-danger {
        background-color: #e62517;
        color: white;
        border-color: #e62517;
    }

        .btn-danger:hover {
            background-color: #e62517;
            color_: white;
            border-color: #e62517;
        }

        .btn-danger:active,
        .btn-danger:focus {
            background-color: #e62517;
            color: white;
            border-color: #e62517;
        }

    .btn-secondary {
        background-color: white;
        color: #6610F2;
        border-color: #6610F2;
    }

        .btn-secondary:hover {
            background-color: white;
            color: #6610F2;
            border-color: #6610F2;
        }

        .btn-secondary:active,
        .btn-secondary:focus {
            background-color: white;
            color: #6610F2;
            border-color: #6610F2;
        }

    .custom-close {
        background-color: #6610F2;
        color: white;
    }

    .modal-footer button {
        margin-right: 15px;
    }
</style>


<h1 class="mt-5 pt-5">As Minhas Conversas</h1>

<div class="d-flex flex-column align-items-center pt-3 w-75 mx-auto bordered-div">
    @foreach (Tuple<Conversation, List<string>> item in ViewBag.ConversationsParticipantsPairs)
    {
        <div class="d-flex flex-row">
            <a class="btn btn-outline-primary mb-3 " asp-action="Details" asp-route-id="@item.Item1.Id">
                <div class="d-flex flex-row justify-content-center">
                    <i class="bi bi-chat"></i>
                    @foreach (string participant in item.Item2)
                    {
                        <div class="ms-3">
                            @participant
                        </div>
                    }
                </div>
            </a>
            <form method="post" asp-action="ExitConversation" asp-route-conversationId="@item.Item1.Id" data-conversation-id="@item.Item1.Id">
                <button type="button" class="bi bi-trash-fill text-danger fs-3 btn hover-background-grey p-0 px-1 delete-btn" data-bs-toggle="modal" data-bs-target="#deleteConversationModal"></button>
            </form>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConversationModal" tabindex="-1" aria-labelledby="deleteConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConversationModalLabel">Apagar conversa</h5>
                <button type="button" class="close custom-close rounded btn btn-primary" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem a certeza que quer apagar esta conversa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="deleteConversationConfirmBtn">Apagar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var conversationIdToDelete;

            $('.delete-btn').on('click', function (e) {
                e.preventDefault();
                conversationIdToDelete = $(this).closest('form').data('conversation-id');
            });

            $('#deleteConversationConfirmBtn').on('click', function () {
                $('form[data-conversation-id="' + conversationIdToDelete + '"]').submit();
            });

            $('#deleteConversationModal').on('hidden.bs.modal', function () {
                conversationIdToDelete = null;
            });

            $('#close-modal, .btn-secondary').on('click', function () {
                $('#deleteConversationModal').modal('hide');
            });
        });
    </script>
}
