<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tidbeat</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestTemplate.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" asp-append-version="true" />

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fw-bold d-flex flex-row">
                <img src="~/images/Logo.png" width="60" height="55" />
                <h1 class="text-primary mt-1">Tidbeat</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-2 my-3 my-lg-0">
                    <li class="nav-item me-1 rounded text-center bg-white">
                        <a class="nav-link text-black" href="@Url.Action("Index", "Posts")">Posts Recomendados</a>
                    </li>
                </ul>
                <div class="dropdown me-3" style="background-color: white; color: black;">
                    <button class="btn dropdown-toggle py-2 border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black;">
                        Outros Conteúdos
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Utilizadores</a></li>
                        <li><a class="dropdown-item" href="/Songs">Músicas</a></li>
                        <li><a class="dropdown-item" href="/Bands">Bandas</a></li>
                    </ul>
                </div>
                <div class="d-flex flex-row">
                    <!--
                    <div class="btn btn-primary">
                        <img src="~/images/FilterIcon.png" height="26" width="31" />
                    </div>
                    -->
                    <!-- Search bar with dropdown menu -->
                    <div class="input-group d-flex flex-row flex-nowrap">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 1.5px;">
                                <span id="searchTypeText">Músicas</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="search-songs">Músicas</a></li>
                                <li><a class="dropdown-item" href="#" id="search-bands">Bandas e Artistas</a></li>
                            </ul>
                        </div>
                        <div class="form-outline">
                            <input type="search" id="searchInput" class="form-control" placeholder="Search" />
                        </div>
                        <button type="button" id="searchButton" class="btn btn-primary">
                            <img class="no-padding" src="~/images/SearchIcon.png" height="26" width="30" />
                        </button>
                    </div>
                </div>
                <div class="ms-auto d-flex flex-row">
                    <!-- <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button> -->
                    <!-- <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            Profile
                        </span>
                    </button>-->
                    <!--
                    <ul class="navbar-nav me-2 my-3 my-lg-0">
                        <li class="nav-item me-1 rounded text-center bg-white">
                            <a class="nav-link text-black" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-2 my-3 my-lg-0">
                    <li class="nav-item me-1 rounded text-center bg-white">
                        <a class="nav-link text-black" href="#features">Registo</a>
                    </li>
                    </ul>
                    -->
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>
    <div class="row filldiv mx-0">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
        <!--<aside class="col-2 border rounded bg-primary">
            <h1 class="text-white text-center">Tidbeat</h1>
            <h5 class="text-white">Pessoas que segues:</h5>
            <div>
                <div class="bg-white border border-primary rounded-start d-flex flex-row align-items-center mt-2">
                    <img class="p-1 rounded-1" src="~/images/UnknownUser.jpg" width="60" height="55"/>
                    <div>Joana Dias</div>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 ms-auto me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button>
                </div>
                <div class="bg-white border border-primary rounded-start d-flex flex-row align-items-center mt-2">
                    <img class="p-1 rounded-1" src="~/images/UnknownUser.jpg" width="60" height="55"/>
                    <div>André Maria</div>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 ms-auto me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button>
                </div>
                <div class="bg-white border border-primary rounded-start d-flex flex-row align-items-center mt-2">
                    <img class="p-1 rounded-1 me-1" src="~/images/UnknownUser.jpg" width="60" height="55" />
                    <div>Rafael Lisboa</div>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 ms-auto me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button>
                </div>
                <div class="bg-white border border-primary rounded-start d-flex flex-row align-items-center mt-2">
                    <img class="p-1 rounded-1" src="~/images/UnknownUser.jpg" width="60" height="55" />
                    <div>Afonso Cunha</div>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 ms-auto me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button>
                </div>
                <div class="bg-white border border-primary rounded-start d-flex flex-row align-items-center mt-2">
                    <img class="p-1 rounded-1" src="~/images/UnknownUser.jpg" width="60" height="55" />
                    <div>Pedro Semeano</div>
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 ms-auto me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                        </span>
                    </button>
                </div>
            </div>
        </aside> -->
    </div>
    <!-- Footer
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
                <a href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a href="#!">FAQ</a>
            </div>
        </div>
    </footer> -->
    <!-- Feedback Modal-->
    <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-gradient-primary-to-secondary p-4">
                    <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body border-0 p-4">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- This scripts implements all the searchbar dropdown menu logic-->
    <script>
        var searchButton = document.getElementById('searchButton');
        var searchInput = document.getElementById('searchInput');
        var searchType = 'songs'; // Default to searching for songs
        var searchTypeText = document.getElementById('searchTypeText'); // Get the search type text element

        document.getElementById('search-songs').addEventListener('click', function (e) {
            e.preventDefault(); // Prevent the default behavior of the anchor element
            searchType = 'songs';
            searchTypeText.textContent = 'Músicas'; // Update the search type text
        });

        document.getElementById('search-bands').addEventListener('click', function (e) {
            e.preventDefault(); // Prevent the default behavior of the anchor element
            searchType = 'bands';
            searchTypeText.textContent = 'Bandas e Artistas'; // Update the search type text
        });

        searchButton.addEventListener('click', function () {
            var searchQuery = searchInput.value.trim();
            if (searchQuery !== '') {
                var newUrl = '/' + searchType + '?searchKey=' + encodeURIComponent(searchQuery) + '&gener=&band=&album=&yearStart=&yearEnd=';
                window.location.href = newUrl;
            }
        });

        searchInput.addEventListener("keypress", function (event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById('searchButton').click();
            }
        });
    </script>
</body>
</html>