@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h3 style="color: #6610F2; margin-top: 100px;">Apagar Post</h3>
<hr />

<div class="container d-flex justify-content-center">
    <dl class="row">
        <dt class="col-sm-2" style="color: #6610F2;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2" style="color: #6610F2;">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <form asp-action="Delete" onsubmit="return confirm('De certeza que pretende apagar este post?');">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Apagar" class="btn btn-danger" style="color: #6610F2; font-weight: bold;" />
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
