@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h3 style="color: #6610F2; margin-top: 100px;" >Detalhes do Post</h3>

<div class="d-flex justify-content-center">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2" style="color: #6610F2;">
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Content)
            </dd>
        </dl>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
