@model Tidbeat.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h3 style="color: #6610F2; margin-top: 100px;">Editar Post</h3>
<hr />

<div class="container d-flex justify-content-center" style="margin-top: 35px;">
    <div class="col-md-6 col-lg-4" style="margin-right: 250px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Song -->
            <div class="form-group row">
                <label asp-for="Song.SongId" class="col-sm-2 col-form-label" style="color: #6610F2; font-weight: bold;">Música:</label>
                <div class="col-sm-10">
                    <input asp-for="Song.SongId" class="form-control" placeholder="Escolha a música..." style="border: 1.5px solid #6610F2; border-radius: 15px; width:625px;" value="@if(Model.Song != null){@Model.Song.Name;}" />
                    <span asp-validation-for="Song.SongId" class="text-danger"></span>
                </div>
            </div>

            <!-- Band -->
            <div class="form-group row" style="margin-top: 15px;">
                <label asp-for="Band.BandId" class="col-sm-2 col-form-label" style="color: #6610F2; font-weight: bold;">Banda:</label>
                <div class="col-sm-10">
                    <input asp-for="Band.BandId" class="form-control" placeholder="Escolha a banda..." style="border: 1.5px solid #6610F2; border-radius: 15px; width:625px;" value="@if(Model.Band != null){@Model.Band.Name;}" />
                    <span asp-validation-for="Band.BandId" class="text-danger"></span>
                </div>
            </div>

            <!-- Spotify Link -->
            <div class="form-group row" style="margin-top: 15px;">
                <label class="col-sm-2 col-form-label" style="color: #6610F2; font-weight: bold;">Link:</label>
            </div>

            <!-- Test Song -->
            <div class="form-group row" style="margin-top: 15px;">
                <label class="col-sm-2 col-form-label" style="color: #6610F2; font-weight: bold;">Testar:</label>
            </div>

            <!-- Title -->
            <div class="form-group row" style="margin-top: 20px;">
                <label asp-for="Title" class="col-sm-2 col-form-label" style="color: #6610F2; font-weight: bold;">Título:</label>
                <div class="col-sm-10">
                    <input asp-for="Title" class="form-control" placeholder="Escreva o título do seu post..." style="border: 1.5px solid #6610F2; border-radius: 15px; width:625px;" value="@Model.Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <!-- Content -->
            <div class="form-group" style="margin-top: 10px; display: flex; flex-direction: column;">
                <!-- <label asp-for="Content" class="control-label" style="color: #6610F2;"></label> -->
                <textarea asp-for="Content" class="form-control" style="height: 200px; border: 1.5px solid #6610F2; border-radius: 15px; width: 700px;" placeholder="Escreva o conteúdo do seu post..." value="@Model.Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <!-- Form submit -->
            <div class="align-buttons" style="margin-left: 280px;">
                <div class="form-group update-button" style="margin-top: 25px;">
                    <input type="submit" value="Atualizar" class="btn btn-primary" />
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <a asp-action="Index">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }